.env
*.class
*.lck
*.prefs
*.log
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

target/
build/
out/
bin/
dist/
.generated/

.classpath
.factorypath
.settings/
.project

.DS_Store
Thumbs.db
*.swp
*.swo
*~